<table>
  <tr>
    <th>Row Index</th>
    <th>Gene ID</th>
    <th>Gene Symbol</th>
    <th>Gene Title</th>
  </tr>

  <tr>
    <td><%= @gene_data.id %></td>
    <td><%= @gene_data.id %></td>
    <td><%= @gene_data.symbol %></td>
    <td><%= @gene_data.title %></td>
  </tr>

</table>